<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.legacy.firebasedemo" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:logo="@android:color/transparent"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.UserRegistrationActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainLobbyActivity">
        </activity>
    </application>

</manifest>
